body {
  background-color: #94B49F;
}
hr { /* Comment Format for CSS */
  background-color: #94B49F;
  border-color: #ECB390;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;

}
table {
  background-color: #CEE5D0;
}

h1 {
  color: #ECB390;
  
}

h3 {
  color: #ECB390;
}


img {
  height: 250px;
}
